[Unit]
Description=bluealsaplay
After=bluetooth.service
Requires=bluetooth.service
After=audiosettings.service
Requires=audiosettings.service

[Service]
Type=forking
ExecStart=/usr/bin/bluealsa-aplay --profile-a2dp -d default:CARD=ALSA 00:00:00:00:00:00
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
