[Unit]
Description=audiosettings
After=sound.target

[Service]
Type=forking
ExecStart=/usr/bin/amixer -c 1 cset numid=1 100%

[Install]
WantedBy=multi-user.target
